<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FUNCTION</key>
	<array/>
	<key>COMMENT</key>
	<array>
		<string>(#[^&quot;\n\r]*(?:&quot;[^&quot;\n\r]*&quot;[^&quot;\n\r]*)*[\r\n])</string>
	</array>
	<key>ESCAPE</key>
	<array/>
	<key>STRING</key>
	<array>
		<string>(&quot;(?:[^&quot;\\]|\\.)*&quot;)</string>
	</array>
	<key>ATTRIBUTE</key>
	<array>
		<string>((https?|mailto|ftp|file)://([-\w\.]+)+(:\d+)?(/([\w/_\.]*(\?\S+)?)?)?)</string>
	</array>
	<key>NUMBER</key>
	<array>
		<string>(?&lt;!\w)(((0x[0-9a-fA-F]+)|(([0-9]+\.?[0-9]*|\.[0-9]+)([eE][-+]?[0-9]+)?))[fFlLuU]{0,2})(?!\w)</string>
	</array>
	<key>OPERATOR</key>
	<array/>
	<key>BOOLEAN</key>
	<array/>
	<key>JUMP</key>
	<array/>
	<key>KEYWORD</key>
	<array>
		<string>(?&lt;!\w)(if|then|elif|else|fi|case|in|;;|esac|while|for|do|done|continue|local|return)(?!\w)</string>
	</array>
	<key>MACRO</key>
	<array>
		<string>(#.*?)[\r\n]</string>
	</array>
	<key>TYPE</key>
	<array>
		<string>(NS\w+)</string>
		<string>(CG\w+)</string>
		<string>(UI\w+)</string>
		<string>(CF\w+)</string>
	</array>
</dict>
</plist>
